*{
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
li{
    list-style: none;
    padding: 0;
    margin-left: 10px;
}
.header-links{
    display: flex;
}
.main-title{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
}
.hero-secondary-header{
    font-size: 48px;
    font-weight: 50px;
    color: #e5e7eb;
}
.image{
    width: 450px;
    height: auto;
}
.one{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.one-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.random-header{
    text-align: center;
    font-size: 24px;
}
.author{
    text-align: right;
    font-weight: bold;
}
.action{
    display: flex;
    align-items: center;
    padding: 50px 100px;
    justify-content: center;
}
.orange{
    background-color: #3882f6;
    border-radius: 5px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    color: #e5e7eb;
}
.fad{
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.subtext{
    margin-top: 24px;
}
.box{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    align-self: center;
}
.quotes-section{
    background-color: #e5e7eb;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.quote{
    color: #1f2937;
    font-size: 36px;
}
.span{
    font-weight: bold;
    font-size: 18px;
}
.sign-up-two{
    align-self: center;
    border: 1px solid #e5e7eb;
    padding: 1px 5px;
    border-radius: 4px;
}
.sign-up-two a {
    font-size: 15px;
}
.footer{
    text-align: center;
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e5e7eb;
}
body{
    padding: 0;
    margin: 0;
}
.body{
    flex: 1;
}
.sign-up{
    font-size: 15px;
    padding: 1px 5px;
    border-radius: 4px;
    background-color: #3882f6;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}